<div class="col-lg-4">
    <form method="POST" asp-action="Create" class="alert alert-dark">
        <h4 class="alert-heading">Add New Movie</h4>

        <div class="form-group">
            <label for="name">Movie Title</label>
            <input class="form-control" type="text" id="name" name="name" placeholder="Movie Title" required>
        </div>

        <div class="form-group">
            <label for="director">Director</label>
            <input class="form-control" type="text" id="director" name="director" placeholder="Director" required>
        </div>

        <div class="form-group">
            <label for="year">Year of Release</label>
            <input class="form-control" type="number" id="year" name="year" placeholder="Year of Release" required>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Short Description"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>