@{
    ViewData["Title"]  = "Movie Created";
    ViewData["Header"] = "Movie Created";
    ViewData["Lead"]   = "";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Movie Created Successfully!</p>
    <a href="/Movie" class="btn btn-success">Take me back!</a>
</div>